footer{
     color: black;
}
.footer-image img{
    width:150px;
}
.footer .row .fa{
    padding-right:20px;
    font-size: 15px;
}
#footer-stuff a {
    color:black;
    display: block;
    font-size:15px;
}
#footer-info a {
    display: block;
    color:black;
}
@media (max-width:700px){
#footer-stuff {
    text-align: left;
}
#footer-stuff a {
    color:black;
    display: block;
    text-align: left;
}
}
