.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 25%;
    border-radius:30px;
    top: 0;
    width: 50%; 
    height: 100%;
    overflow: auto;
  }
  @media screen and (max-width:1000px){
      .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    border-radius:30px;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
  }
  }


.modal-content {
    background:black;
    color:white;
    margin: auto;
    padding: 20px;
      border-radius:20px;
    border: 3px solid white;
       width: 80%;
  }
  
 
  .close {
    color: white;
    position: absolute;
    right:15px;
    top:10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .saveBtn{
    margin-top:20px;
    background:white;
    padding:5px 25px;
    color:black;
    border-radius:5px;
    border:2px solid white;
    transition:0.25s;
    width:100px;
}
.saveBtn:hover{
    border:2px solid white;
    transition:0.25s;
    background:black;
    color:white;
}
  

.profileInputs{
    position:absolute;
    left:100px;
    color:white;
    background:black;
    border:none;
    border-bottom:2px solid white;
}
.modalPar{
    text-align:left;
    text-transform:capitalize;
}