.tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
  }
  
  .tinder--buttons button {
    border-radius: 50%;
    height:60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
  }
  .tinder--buttons button:hover{
      cursor:pointer;
      transform:scale(1.1)
  }
  .tinder--buttons button:focus {
    outline: 0;
  }
  
  .tinder--buttons i {
    font-size: 25px;
    vertical-align: middle;
  }
  
  .fa-heart {
    color: #FFACE4;
  }
  
  .fa-times {
    color: rgb(86, 182, 86);
  }
  
  